%h2 Todos by Hamlet
%input(type="text" @value placeholder="What needs to be done?" onkeydown=@add)

%label
  %input(type="checkbox" checked=@checkCompleteAll)
  %span Mark all as complete

%ul
  -each @todos, ->
    %li
      %label
        %input(type="checkbox" @checked)
        %span.item(@class)= @description

.totals
  .undone
    %span.count= @undoneCount
     left
  .clear(click=@removeDone)
    Clear
    %span.count= @doneCount
     items
