%h2= "2. To Do List"
%input(type="text" @value placeholder="What needs to be done?" onkeydown=@add)

%label.mark
  %input(type="checkbox" checked=@checkCompleteAll)
  %span.mark Mark all as complete

%ul.list
  -each @todos, ->
    %li
      %label
        %input(type="checkbox" @checked)
        %span.item(@class)= @description

.totals
  .undone
    %span.count= @undoneCount
     left
  .clear(click=@removeDone)
    Clear
    %span.count= @doneCount
     items
