<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Hamlet Boilerplate</title>
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>
	<div class="container">
		<div id="hello"></div>
		<hr>
		<div id="binding"></div>
		<hr>
		<div id="todo"></div>
	</div>

	<script src="/js/bundle.js" type="text/javascript"></script>
</body>
</html>
