#binding
	h3
		background-color #eee
		color #555
		font-weight bold
		padding 10px
		margin-bottom 15px
		box-sizing border-box
		border-radius 3px
		text-overflow(100%)

	input
		width 48.5%
	input.first
		margin-right 3%
	input.last
		margin-right 0
