#todo
	input[type=checkbox]
		width 20px
	.mark
		float right
		font-size 13px
		margin-bottom 5px

	.list
		clear both
		margin-top 30px
		li
			background #eee
			padding 10px
			margin-bottom 10px
			border-radius 3px
			.completed
				text-decoration line-through

	.totals
		font-weight bold
		width 100%
		clear both
	.undone
		float left
	.clear
		float right
		cursor pointer
	.count
		margin-right 3px
