body
	color red
	font-family sans-serif
	font-size 12

h1
	color yellow
	border-bottom 3px solid black
	text-transform uppercase
	background #ddd
	padding 20px

.box
	size 300px
	background green
	margin 20px auto
